@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700);

main-color = teal

body
	box-sizing border-box
	.head
		background-color main-color
		width 100%
		box-shadow: 0px 2px 16px rgba(2, 2, 2, 0.73)
		.logo-section
			font bold 1.6em/1.2 'Rajdhani', sans-serif
			color white
			position relative
			left 1%
			width 100px
			padding 0.5% 0.5% 1% 0.5%
			.bar
				height 20px
				width 60px
				background-color rgb(247, 247, 247)
			.bar:nth-child(3)
				height 50px
				width 20px
	.content
		margin-top 1%
		.nav
			height 500px
			border-right-style solid
			border-right-color #C3C3C3
			width 19%
			border-width 0.1em
			float left
			.add-project
				width 18rem
				background-color teal !important
		.nav-content
			float right
			width 78%
			margin-top 0%
			.ui.card
				width 17%
				display inline-block
				margin-left 1%
				cursor pointer
			img
				height 100px
		.container
			width 98%

.candidate-config
	height 480px
	border-left-style solid
	border-left-color #C3C3C3
	border-width 0.1em